@model Photos.Models.Playlist
<div class="page-header">
    <h1>@Model.PlaylistName</h1>
</div>

<p class="lead">
    Owner <a href="index.php">@Model.Owner</a>
</p>
<p><span class="glyphicon glyphicon-time"></span> Last Update @Model.DateModified</p>

<a class="btn btn-primary" href="/Music/PlaylistList"><span class="glyphicon glyphicon-chevron"></span>View Playlists</a>

