@model IEnumerable<Photos.Models.Album>
<div class="row">
    <div class="col-md-4" style="background: rgba(107, 107, 107, 0.5); height:250px">
        @Html.Action("_PartialBlog", "Blog")
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7" style="background: rgba(107, 107, 107, 0.5); height:250px">
        @Html.Action("_PartialAlbum", "Photos")
    </div>
</div>



